.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  background-color: white;
  border-top: 1px solid #dbdbdb;
  height: 60px;
}

.bottom-navigation i {
  font-size: 24px;
  color: #262626;
}

.bottom-navigation .active {
  color: #0095f6;
}

